* {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: brown;
    font-size: large;
    font-weight: bold;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    font-size: 1.5em;
    color: rgb(10, 82, 10);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 30em) {
    h1 {
        font-size: 2.5em;
    }
}

hr {
    border: 2px solid silver;
    width: 400px;
}